

    <div class="container m-5 p-5">
        <h1>Gaming JAM</h1>
    </div>

    <label for="genre">Choose a genre:</label>

<select name="genre" id="genre">
  <option value="action">action</option>
  <option value="platformer">platformer</option>
  <option value="racing">racing</option>
  <option value="none"></option>
</select>

<label for="cars">Choose a platform:</label>

<select name="platforms" id="platforms">
  <option value="wii">wii</option>
  <option value="nintendo">nintendo</option>
  <option value="none"></option>
</select>

    <div class="container m-5 p-5">
        <form>
            <label for="gameSearch">Game Search:</label><br>
            <input type="text" id="gameSearch" name="gameSearch"><br>
            <button id="submitBtn">Submit</button>  <br>
        </form>
    </div>

    <ul>
        {{#each games}}
            <li>
            <p><span class="label">ID:</span> {{this.id}}</p>
            <p><span class="label">Game title:</span> {{this.name}}</p>
            <p><span class="label">Platform:</span> {{this.platform}}</p>
            <p><span class="label">Year released:</span> {{this.year}}</p>
            <p><span class="label">Genere:</span> {{this.genre}}</p>
            <p><span class="label">Publisher:</span> {{this.publisher}}</p>
            <p><span class="label">North America Sales:</span> {{this.NA_Sales}} million copies</p>
            <p><span class="label">Europe sales:</span> {{this.EU_Sales}} million copies</p>
            <p><span class="label">Japan sales:</span> {{this.JP_Sales}} million copies</p>
            <p><span class="label">Rest of the world sales:</span> {{this.Other_Sales}} million copies</p>
            <p><span class="label">Overall global sales:</span> {{this.Global_Sales}} million copies</p>

            <button data-id="{{this.id}}" class="delquote">Delete</button>
      
            <a href="/{{this.name}}">Update this quote</a>
            </li>
        {{/each}}
      </ul>

    <section class="container m-5 p-5">
        <div class="row">
            <div class="col-3-sm ml-1 mr-1">
                {{ outputScore }}
            </div>

            <div class="col-3-sm ml-1 mr-1">
                {{ outputScore }}
            </div>

            <div class="col-3-sm ml-1 mr-1">
                {{ outputPlatform }}
            </div>

            <div class="col-3-sm ml-1 mr-1">
                {{ outputGenre }}
            </div>
        </div>
    </section>

