<section class="container gameJamMainOutputBody">
    {{!-- Search Game Input Field --}}
    <form class="formBody">
        <div class="formTitle">
            <h1 class="formTitleText"><i class="fas fa-search formTitleIcon"></i>Search Game<h1>
        </div>
        <div class="formSearchAndSubmitBody">
            <div class="formSearchSection">
                <label class="labelText" for="gameSearch">Game Search:</label>
                <input class="formSearchInputBar" type="text" id="gameSearch" name="gameSearch">
            </div>
        </div>
        <section class="formDropDownSection">
            <div class="formDropDowns">
                <label class="labelText" for="genre">Genre:</label>
                <select class="formDropDown" name="genre" id="genre">
                    <option value="none"></option>
                    <option value="Action">Action</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Fighting">Fighting</option>
                    <option value="Misc">misc</option>
                    <option value="Platform">Platform</option>
                    <option value="Puzzle">Puzzle</option>
                    <option value="Racing">Racing</option>
                    <option value="Role-Playing">Role-Playing</option>
                    <option value="Shooter">Shooter</option>
                    <option value="Simulation">Simulation</option>
                    <option value="Sports">Sports</option>
                    <option value="Strategy">Strategy</option>
                </select>
            </div>
            <div class="formDropDowns">
                <label class="labelText" for="platforms">Platform:</label>
                <select class="formDropDown" name="platforms" id="platforms">
                    <option value="none"></option>
                    <option value="3DO">3DO</option>
                    <option value="Atari 2600">Atari 2600</option>
                    <option value="Dreamcast">Dreamcast</option>
                    <option value="Game Boy">Game Boy</option>
                    <option value="Game Boy Advance">Game Boy Advance</option>
                    <option value="GameCube">GameCube</option>
                    <option value="Genesis">Genesis</option>
                    <option value="N-Gage">N-Gage</option>
                    <option value="NES">NES</option>
                    <option value="Nintendo 3DS">Nintendo 3DS</option>
                    <option value="Nintendo 64">Nintendo 64</option>
                    <option value="Nintendo DS">Nintendo DS</option>
                    <option value="PC">PC</option>
                    <option value="PlayStation">PlayStation</option>
                    <option value="PlayStation 2">PlayStation 2</option>
                    <option value="PlayStation 3">PlayStation 3</option>
                    <option value="PlayStation 4">PlayStation 4</option>
                    <option value="PlayStation Portable">PlayStation Portable</option>
                    <option value="PlayStation Vita">PlayStation Vita</option>
                    <option value="Saturn">Saturn</option>+
                    <option value="Sega CD">Sega CD</option>
                    <option value="Super NES">Super NES</option>
                    <option value="TurboGrafx-16">TurboGrafx-16</option>
                    <option value="Wii">Wii</option>
                    <option value="Wii U">Wii U</option>
                    <option value="Xbox">Xbox</option>
                    <option value="Xbox 360">Xbox 360</option>
                    <option value="Xbox One">Xbox One</option>
                </select>
            </div>
        </section>
        <section class="formAddGameInputSectionFiller">

        </section>
        <div class="formSubmit">
            <button class="submitButtonStyle" id="submitBtn">
                Search
            </button>
        </div>
    </form>

    {{!-- Add Game Input Field --}}
    <form class="formBody">
        <div class="formTitle">
            <h1 class="formTitleText"><i class="fas fa-folder-plus formTitleIcon"></i>Add Game<h1>
        </div>
        <div class="formSearchAndSubmitBody">
            <div class="formSearchSection">
                <label class="labelText" for="addGameInputName">Game Title:</label>
                <input class="formSearchInputBar" type="text" id="addGameInputName" name="addGameInputName">
            </div>
        </div>
        <section class="formDropDownSection">
            <div class="formDropDowns">
                <label class="labelText" for="addGameGenre">Genre:</label>
                <select class="formDropDown" name="addGameGenre" id="addGameGenre">
                    <option value="none"></option>
                    <option value="Action">Action</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Fighting">Fighting</option>
                    <option value="Misc">misc</option>
                    <option value="Platform">Platform</option>
                    <option value="Puzzle">Puzzle</option>
                    <option value="Racing">Racing</option>
                    <option value="Role-Playing">Role-Playing</option>
                    <option value="Shooter">Shooter</option>
                    <option value="Simulation">Simulation</option>
                    <option value="Sports">Sports</option>
                    <option value="Strategy">Strategy</option>
                </select>
            </div>
            <div class="formDropDowns">
                <label class="labelText" for="addGamePlatforms">Platform:</label>
                <select class="formDropDown" name="addGamePlatforms" id="addGamePlatforms">
                    <option value="none"></option>
                    <option value="3DO">3DO</option>
                    <option value="Atari 2600">Atari 2600</option>
                    <option value="Dreamcast">Dreamcast</option>
                    <option value="Game Boy">Game Boy</option>
                    <option value="Game Boy Advance">Game Boy Advance</option>
                    <option value="GameCube">GameCube</option>
                    <option value="Genesis">Genesis</option>
                    <option value="N-Gage">N-Gage</option>
                    <option value="NES">NES</option>
                    <option value="Nintendo 3DS">Nintendo 3DS</option>
                    <option value="Nintendo 64">Nintendo 64</option>
                    <option value="Nintendo DS">Nintendo DS</option>
                    <option value="PC">PC</option>
                    <option value="PlayStation">PlayStation</option>
                    <option value="PlayStation 2">PlayStation 2</option>
                    <option value="PlayStation 3">PlayStation 3</option>
                    <option value="PlayStation 4">PlayStation 4</option>
                    <option value="PlayStation Portable">PlayStation Portable</option>
                    <option value="PlayStation Vita">PlayStation Vita</option>
                    <option value="Saturn">Saturn</option>+
                    <option value="Sega CD">Sega CD</option>
                    <option value="Super NES">Super NES</option>
                    <option value="TurboGrafx-16">TurboGrafx-16</option>
                    <option value="Wii">Wii</option>
                    <option value="Wii U">Wii U</option>
                    <option value="Xbox">Xbox</option>
                    <option value="Xbox 360">Xbox 360</option>
                    <option value="Xbox One">Xbox One</option>
                </select>
            </div>
        </section>
        <section class="formAddGameInputSection">
            <div class="formAddGameInputSectionElement">
                <div class="formAddGameInputElement">
                    <label class="labelText" for="addGameYear">Year:</label>
                    <input class="formAddGameInputBar" type="number" min="1980" id="addGameYear" name="addGameYear">
                </div>
            </div>
            <div class="formAddGameInputSectionElement">
                <div class="formAddGameInputElement">
                    <label class="labelText" for="addGameGlobalSales">Publisher:</label>
                    <input class="formAddGameInputBar" type="text" id="addGamePublisher" name="addGamePublisher">
                </div>
            </div>
            <div class="formAddGameInputSectionElement">
                <div class="formAddGameInputElement">
                    <label class="labelText" for="addGameGlobalSales">Global Sales:</label>
                    <input class="formAddGameInputBar" type="number" min="0" id="addGameGlobalSales"
                        name="addGameGlobalSales">
                </div>
            </div>
            <div class="formAddGameInputSectionElement">
                <div class="formAddGameInputElement">
                    <label class="labelText" for="addGameIGNScore">IGN Score:</label>
                    <input class="formAddGameInputBar" type="number" min="0" max="10" id="addGameIGNScore"
                        name="addGameIGNScore">
                </div>
            </div>
        </section>
        <div class="formSubmit">
            <button class="submitButtonStyle" id="addGameButtton">
                Add Game
            </button>
        </div>
    </form>


</section>


<section class="container-fluid gameInformationOutputSection">


    <section>
        <ul class="gameInformationUnorderdedOutputList">
            {{#each games}}
            <li class="gameInformationOutputItem">
                <section class="gameInfoOutputTitleSection">
                    <p class="gameInfoOutputGameTitle">{{this.name}}</p>
                </section>
                {{!-- <section class="gameInfoOutputGameImageSection">
                    <img class="gameInfoOutputGameImage" src="https://placedog.net/300/300?random">
                </section> --}}

                <section class="gameInformationOutputDataSection">

                    <div class="gameInformationOutputDataOutputElement">
                        <p class="gameInformationOutputDataOutputElementTitle">Platform:
                        <p class="gameInfoOutputGamePlatform gameInformationOutputDataOutputElementOutput">
                            {{this.platform}}</p>
                    </div>

                    <div class="gameInformationOutputDataOutputElement">
                        <p class="gameInformationOutputDataOutputElementTitle">Year released:</p>
                        <p class="gameInformationOutputDataOutputElementOutput">{{this.year}}</p>
                    </div>

                    <div class="gameInformationOutputDataOutputElement">
                        <p class="gameInformationOutputDataOutputElementTitle">Genre:</p>
                        <p class="gameInformationOutputDataOutputElementOutput">{{this.genre}}</p>
                    </div>

                    <div class="gameInformationOutputDataOutputElement">
                        <p class="gameInformationOutputDataOutputElementTitle">Publisher:</p>
                        <p class="gameInformationOutputDataOutputElementOutput">{{this.publisher}}</p>
                    </div>

                </section>

                <section class="gameInfoOutputGlobalSalesSection">
                    <div class="gameInfoOutputGlobalSalesSectionGlobalSalesOutputBody">
                        <p class="gameInfoOutputGlobalSalesTitle">Global Sales:</p>
                        <p class="gameInfoOutputGlobalSalesOutput">{{this.Global_Sales}}</p>
                        <p class="gameInfoOutputGlobalSalesOutput">million</p>
                        <p class="gameInfoOutputGlobalSalesOutput">copies</p>
                    </div>
                    <div class="gameInfoOutputIGNScoreOutputBody">
                        <p class="gameInfoOutputIGNScoreOutputTitle">IGN Score:</p>
                        <p class="gameInfoOutputIGNScoreOutput">{{this.score}}</p> {{!-- Default Color --}}
                        {{!-- <p class="gameInfoOutputIGNScoreOutput" style="color: rgb(0, 255, 0);">{{this.score}}</p> --}}
                        {{!-- <p class="gameInfoOutputIGNScoreOutput" style="color: rgb(255, 187, 0);>{{this.score}}</p> --}}
                        {{!-- <p class="gameInfoOutputIGNScoreOutput" style="color: rgb(255, 81, 81);>{{this.score}}</p> --}}
                    </div>
                </section>
            </li>
            {{/each}}
        </ul>
    </section>

</section>